.\Scenes\Bridge_small_02 filter=lfs diff=lfs merge=lfs -text
.\Scenes\Bridge_small_02\LightingData.asset filter=lfs diff=lfs merge=lfs -text
.\Scenes\Bridge_small_02\LightingData.asset.meta filter=lfs diff=lfs merge=lfs -text
